*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', ;
}
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background: #333;
    color:#fff;
    padding:1rem;
}
h1{
    font-family: Arial, Helvetica, ;
    font-size: 40px;
    font-weight:bold;
    border-color: rgba(141, 169, 221, 0.521);
}
h2{
   font-family:serif; 
   font-size:20px;
   text-decoration: underline;
   border-color: rgba(164, 198, 238, 0.582);
}
nav ul{
    display: flex;
    list-style-type: none;
    margin-right: 20px;
}
nav  ul  li{
    margin: 0 5px;
    border: 2px  solid black;
    padding: 5px;
}
p{
    width: 550px; 
    font-style:italic ;

}
li{
   text-decoration: none;
   font-style: italic;
}
 nav a{
   font-size: 1.5em;
   color:#fff;
}
nav a:hover{
    color:#1ace41;
    background: #fff;
    transition: all 5s ease-in-out;

}
.nav-item{
    position: relative;
}
.nav-item:hover>.dropdown{
    display: flex;
    flex-direction: column;
}
.project-gallery{
    display: flex;
    flex-wrap: wrap;
}
.dropdown{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #dfdbdb;
    min-width: 200px;
    z-index: 1000;
}
body{
    background-color: rgb(34, 163, 223);
}

.spinner{
    border: 5px solid#333;
    border-top: 5px solid red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    animation: spin 1s linear infinite;
}
#about-me{
    display:block;
}
footer{
    text-align: end;
}
.video-container {
    display:flex;
    gap:20px;
    align-items: center;
    max-width: 100px; 
    margin:40px auto; 
    padding: 0 20px;   
    border-radius:50px;
}

.video-container video {
    width: 500px;
    height:auto;
}
video-text{
    width: 50px;
}
.text-content {
  flex: 1;   
  float: right;         
}
.video-wrapper {
  flex: 1;               
}
h{
    border: bottom 20px; ;
}
root{
    --main-bg-color:#035f12;
    --secondary-bg-color:#333;
}
table{
    border-collapse: 10px;
    border-color: black;
}
.project{
    background-image: url(../images/kiprop.png);
    text-align: none;
    padding: 20px;
}
@media screen and (max-width:600px){
    nav ul{
        display: flex;
        flex-direction:column;
    }
} 

.dashboard{
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    padding: 20px;
    color:#333;
    background-color:darkblue; 
    border-left: 20px;
    margin-right: 200px;
}
.dashboard-container{
    display: flex;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.dashboard-widget{
    text-align: none;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-weight: bold;
    font-size: 1.2em;
    min-height: 150px;
    background-color:darkcyan;
}

/* tablets */
@media screen and(min-width:768px){
    .dashboard-container{
        grid-template-columns: 1fr 1fr;
    } 
}

/* Desktops */
@media screen and(min-width:1024px){
    .dashboard-container{
        grid-template-columns: repeat(3,1fr);
    } 
}

    #widget1{
        grid-column:span 3;
        grid-row: 1;
        color: #1a8cce;
        background-color: #080101;
    }

    #widget2{
        grid-column: 1/2;
        grid-row: 2/4;
        color: #0c55f5;
        background-color: rgb(37, 28, 15);
    }

    #widget3{
        grid-column: 2/3;
        grid-row: 2/3;
        color: #1ace41;
    }

    #widget4{
     grid-column: 2/3;
    grid-row: 3/4; 
    color: #7107eb;
    background-color: rgb(153, 101, 202);
    }
    #widget5{
    grid-column: span 3;
    grid-row: 4/5;
    color: #05516e;
    background-color: cornflowerblue;
    }

    @keyframes spin{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }

